    <script type="text/javascript" src="{{ "/assets/js/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/prettify.js" | prepend: site.baseurl }}"></script>
    <script>
      [].forEach.call(document.getElementsByTagName("pre"), function(el) {
        el.classList.add("prettyprint");
      });
      prettyPrint();
    </script>

    <style>
      pre.prettyprint {

        font-size: 13px;
        font-family: "Open Sans";
        padding: 8px 12px;
        border: 1px solid #bbb;
        border-radius: 4px;
      }
    </style>
