---
layout: default
---
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">


        <h1>{{ page.title }}</h1>

        <p>&nbsp;<i class="fa fa-calendar"></i> &nbsp;{{ page.date | date: "%b %-d, %Y" }} &bull; {{ page.author }}</p>


          <article class="blog-post-small blog-post-content">
            {{ content }}
          </article>


          {% include author_block.html %}
    </div>
    <div class="col-md-3"></div>
</div>
